TestProjectCSharp/TestCountriesApp/.vs/
TestProjectCSharp/TestCountriesApp/TestCountriesApp/bin/Debug/net6.0/Countries.txt
TestProjectCSharp/TestCountriesApp/TestCountriesApp/bin/
TestProjectCSharp/TestCountriesApp/TestCountriesApp/obj/
