TestProjectCSharp/TestCountriesApp/.vs/
TestProjectCSharp/TestCountriesApp/TestCountriesApp/bin/Debug/net6.0/Countries.txt
TestProjectCSharp/TestCountriesApp/TestCountriesApp/bin/
TestProjectCSharp/TestCountriesApp/TestCountriesApp/obj/
GeoProjectUnity/Library/
GeoProjectUnity/Logs/
GeoProjectUnity/UserSettings/
GeoProjectUnity/Builds/
GeoProjectUnity/Temp/
GeoProjectUnity/.vs/
GeoProjectUnity/obj/
GeoProject3DGlobe/Library/
GeoProject3DGlobe/Logs/
GeoProject3DGlobe/UserSettings/
GeoProject3DGlobe/Builds/
GeoProject3DGlobe/Temp/
GeoProject3DGlobe/.vs/
GeoProject3DGlobe/obj/
GeoProject2DGlobe/Library/
GeoProject2DGlobe/Logs/
GeoProject2DGlobe/UserSettings/
GeoProject2DGlobe/Builds/
GeoProject2DGlobe/Temp/
GeoProject2DGlobe/.vs/
GeoProject2DGlobe/obj/
